<header class="p-4 text-gray-700 flex flex-col md:flex-row items-center mb-6 md:mb-12">
    <a href="/">
        <span class="h-12 mr-8 hidden md:inline-block">
            {% include "logo-mark.njk" %}
        </span>
        <span class="w-full max-w-xs mb-8 inline-block md:hidden">
            {% include "logo.njk" %}
        </span>
    </a>
    {% include "site-nav.njk" %}
</header>
